<%- include("partial/header") -%>

<div class="container">
    <div class="content" ,style="align-items: center;">
        <h1 id="book">YogaBook</h1>
        <p>Yoga is fountain of youth. You're only as young as your spine is flexible</p>
        <h1 id="Explore">Explore More</h1>
        <a href="#">Start Learning</a>
    </div>
</div>

<%- include("partial/footer") -%>